html{
    background-color: #F5F5DC;
}

.heading{
    text-align: center;
    color: #004225;
}

h1{
    font-size: 40pt;
}

h3{
    color:#FFB000;
    font-size: 25pt;
}

#BD{
    height: 300px;
    width: 300px;
}